/* UUID: 688490-32960-594122-34716- */ 

html {
    margin: auto;
    width: min-content;
}
body {
    margin: 0;
    width: min-content;
}
img {
  border: 0px;
}

button, input, optgroup, select, textarea {
  margin: 0px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
}

input {
  line-height: normal;
}

* {
  box-sizing: border-box;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  vertical-align: middle;
}

p {
  margin: 0px 0px 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label:empty {
  display: none;
}

.viewport {
  user-select: none;
  width: 100%;
  height: 100%;
}

.element {
  cursor: default;
  position: absolute;
  overflow: hidden;
}

.element * {
  vector-effect: non-scaling-stroke;
}

.wordwrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

body, input, button, select, textarea {
  font-family: proxima_nova, Arial, Helvetica, sans-serif;
}

input, textarea, select {
  font-size: 13px;
  font-weight: lighter;
}

.element.fc.Button .btn {
  border-style: none;
  width: 100%;
  height: 100%;
  font-weight: normal;
  background-size: 100%;
  cursor: inherit;
}

.element.fc.Button .btn.system {
  display: flex;
  align-items: center;
}

.element.fc.Button .btn .img-container {
  height: 100%;
  margin: 0px 5%;
}

.element.fc.Button .btn.system div img {
  width: auto;
  height: 90%;
}

.element.fc.Textbox .textView {
  width: 100%;
  height: 100%;
}

.element.fc.Textbox .textView-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}

.textView {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  box-shadow: none;
  height: 80%;
  padding-left: 15px;
  border-style: solid;
  outline: none;
}

.element.fc.Label {
  border-style: none;
}

.element.fc.Label .label-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}

.element.fc.Label .label.wordwrap {
  width: 100%;
  height: 100%;
  position: relative;
  word-break: break-word;
  border-radius: 0px;
}

.element.fc.Label .label {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: normal;
}

.element.fc.Image {
  overflow: hidden;
  text-align: center;
}

.element.fc.Container {
  background-color: rgb(238, 238, 238);
}

.element.fc.ListView {
  background-color: rgb(238, 238, 238);
}

.element.fc.ListViewCell {
  overflow: hidden;
}

.element.fc.Screen {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
  background-size: cover;
  overflow: visible;
}

.snapp-html5.fc.Screen {
  overflow: hidden;
  position: relative;
  margin: auto;
  display: none;
  transform: none !important;
}

@font-face {
  font-family: fjs434498;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs296382;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs913249;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs423704;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs777410;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs216586;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs451360;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs996470;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs141020;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs838680;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs939528;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs357124;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs393431;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs87042;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs666960;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs649868;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs680487;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs535700;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs859797;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs655239;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs277662;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs133119;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs851111;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs352435;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs206503;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs844002;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs792863;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs950434;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs795395;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs261480;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs844453;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs269725;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs49456;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs264596;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs11873;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs279599;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs304806;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs342596;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs623708;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs943596;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs76161;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs353898;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs308972;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs721669;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs776253;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs817964;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs529613;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs676096;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs781424;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs704853;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs222641;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs50857;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs796310;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs580540;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs606402;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs931617;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs347426;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs712236;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs221755;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs913420;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs569385;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs779324;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs76356;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs660800;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs540286;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs197910;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs460083;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs467497;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs764878;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs976996;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs954066;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs149184;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs486578;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs977337;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs665196;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs878088;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs721426;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs843837;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs427740;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs898586;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs212496;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs403263;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs3955;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs909703;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs699157;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs673875;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs20524;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs990479;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs418786;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs706171;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs597714;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs923329;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs127132;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs249485;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs160560;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs111269;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs334256;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs81515;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs145378;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs344475;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs110832;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs887063;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs866879;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs923439;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs446083;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs868385;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs942590;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs905246;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs914559;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs176323;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs788891;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs710774;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs405478;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs533489;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs334333;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs588583;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs29617;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs536961;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs52648;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs308592;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs794857;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs783118;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs789152;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs368750;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs193262;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs6471;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs965453;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs721704;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs587430;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs889498;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs100597;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs49608;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs73989;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs54865;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs113171;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs228718;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs405591;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs694884;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs664984;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs733063;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

#time-date-wrapper {
  font-family: Montserrat, sans-serif;
  color: white;
  display: table;
  margin: 0px auto;
}

#time-date-inner {
  display: table-row;
}

.date-col-left, .date-col-right {
  display: table-cell;
  vertical-align: middle;
}

#date {
  font-size: 8em;
  text-align: right;
  font-weight: 200;
  margin: 0px;
}

#month {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 2rem;
  margin: 5px;
  text-align: left;
}

#day {
  font-weight: 300;
  font-size: 4rem;
  margin: 5px;
  text-align: left;
}

#time-date-wrapper {
  font-family: Montserrat, sans-serif;
  color: white;
  display: table;
  margin: 0px auto;
}

#time-date-inner {
  display: table-row;
}

.date-col-left, .date-col-right {
  display: table-cell;
  vertical-align: middle;
}

#date {
  font-size: 8em;
  text-align: right;
  font-weight: 200;
  margin: 0px;
}

#month {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 2rem;
  margin: 5px;
  text-align: left;
}

#day {
  font-weight: 300;
  font-size: 4rem;
  margin: 5px;
  text-align: left;
}